.csv-table {
    width: 100%;
    border-collapse: collapse;
}

.csv-table th,
.csv-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.csv-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.csv-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}